Thumbs.db
.DS_Store
.AppleDouble
.LSOverride

# Windows
Desktop.ini
ehthumbs.db
*$RECYCLE.BIN/

# IDEs/editors
.vscode/
.idea/
*.code-workspace

# Env/secrets
.env
.env.*
!.env.example
.dist
.tmp
.lock
.sass-cache
npm-debug.log
node_modules
builds
public
resources
jsconfig.json
hugo_stats.json


# Hugo cache
.hugo_build.lock
.hugo_build.lock.*

# Logs
*.log